<div class='faq'>

<h2>Frequently Asked Questions</h2>
Soon 
<sup>tm.</sup>

<!-- <ol>
<hr>
  <li>How do I open the Wilson Library catalog?
    <p>Turn on the computer.</p>

    <p>Click on “guest”</p>

    <p>Click on the Google Chrome button in the upper left corner 

            of the screen.</p>

    <p>The “home page” will come up.</p></li>

  <li>
  <hr>
  	2. How do I “login?”
     <p>Click on the BLUE button marked “computer login.”</p>

     <p>The password is written on the card on the computer.</p>
  </li>  
</ol>
2. How do I “login?”

     Click on the BLUE button marked “computer login.”

     Using capital letters, type in LWVAWL.

3. How can I see all the books in the catalog?

      Click on the white button marked “Show All Books.”

      All the books entered will be displayed in a table.

4. How do I search for a book?

      Look at the white button that says “Search.”

      Click on the “down arrow” if you want to search for

               “author” “subject” “call numbers” or “copyright.”

      Type in the information for the item chosen.

      Results will appear.

5. How do I add a book to the catalog?

      Click on the orange “Add New Book” button.

      Put the cursor in each white field and enter the information

             for each book.

       When finished entering the information, click on the orange

              button “Create Book.”

       The information for the book will be on the home page.

       The next screen will give you a chance to “go back,” 

             “edit” “destroy.” 

6. How do I edit the information incorrectly entered for a book?

        To get to the “edit page,” click on the “show more”

              button on the right of the book entry. 

       Correct the information for the book and click the

             “Update” button.

7.  How do I close down the database?

        Click on the “red X” button at the upper right corner.

        Click on the bottom left circle. Not the Google Chrome

                circle.

        Click on the “shut down” button.

        You may have to wait if there are files to be installed.

        After that process, the computer will shut down.

        Close the lid and put the laptop in the bottom left 

                 drawer of the desk.
</div> -->