<div class='login'>
	<h3>Register this computer to edit the records by entering the sites code.</h3>
	
	<p>
    <input type="password" name="password" id='auth'> - 
	<%= link_to 'Login', root_path, class: 'btn btn-primary', onclick: 'Model.login()', id: 'submitBtn'%>
	</p>
</div>