div {
	/*border: 1px solid black*/
}

body {
	background-color: #cccccc;
	background-image: url('http://i.imgur.com/XQuiwrN.png');
	font-size: 16px;
}

td {
	border: 3px double black;
	padding: 5px;
}

th {
	border: 3px solid black;
	padding: 5px;
}

/*-------------------------------------------------------*/

.btn {
	color: black;
}

.masthead_image {
	max-width: 100%;
	max-height: 150px;
}

.headder {
	position: fixed;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #cccccc;
	background-image: url('http://i.imgur.com/XQuiwrN.png');
	z-index: 5;
	border-bottom: thick double #333333;
}

.buffer {
	height: 175px;
}

.search {
	position: fixed;
	z-index: 5;

}

.results {
	position: fixed;
	z-index: 5;
	margin-top: 55px;
	visibility: hidden;
}

.table {
	padding-top: 100px;
}

.Author_first {
	text-decoration: underline;
}

.Author_last {
	text-decoration: underline;
}