div {
	/*border: 1px solid black*/
}

body {
	background-color: #cccccc;
	background-image: url('http://i.imgur.com/XQuiwrN.png');
	font-size: 16px;
	font-weight: bold;
	font-family: 'Crete Round', serif;
}

td {
	border: 3px double black;
	padding: 5px;
}

th {
	border: 3px solid black;
	padding: 5px;
}

table {
	font-weight: bold;
}

/*-------------------------------------------------------*/

.btn {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.buffer {
	min-height: 160px;
}
.masthead_image {
	max-height: 150px;
	border-style: double;
	border-width: 5px;
	border-color: #FFF;
	float: left;
	padding: 2px;
	margin: 5px;
	margin-right: 10px;
	float: right;
}

.linkBar {
	/*float: left;*/
	padding-left: 20px;
	min-width: 950px;
	background-color: #FFF;
	padding: 5px;
}

.headder {
	position: fixed;
	width: 100%;
	min-width: 965px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #FFF;
	/*background-image: url('http://i.imgur.com/XQuiwrN.png');*/
	z-index: 5;
	border-bottom: thick double #333333;
}

.search {
	padding: 5px;
	position: fixed;
	z-index: 5;
	background-color: #eee;
	width: 100%;
	border-radius: 0px 0px 0px 20px;
}

.results {
	position: fixed;
	z-index: 5;
	margin-top: 55px;
}

.hidden {
	visibility: hidden;
}

.table {
	padding-top: 100px;
}

.Author_first {
	text-decoration: underline;
}

.Author_last {
	text-decoration: underline;
}

.title {
	font-size: 48px;
	padding-left: 2%;
	min-width: 485px;
}

.form_field {
	font-size: 16px;
	width: 150px;
}

.form_area {
	width: 500px;
}

.faq {
	font-size: 18px;
}

.show_entry {
	/*width: 100%;*/
	min-width: 250px;
}

.search-item {
	font-size: 18px;
	border-top: 2px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding-bottom: 5px;
	padding-top: 5px;
}